/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 */

$add-button-color: #fd887a
$add-button-color-hover: #ed786a

.top-bar-section
  li.active:not(.has-form)
    a:not(.button)
      font-size: 16px
      padding: 0 15px
      line-height: 45px
      color: white
      background: $add-button-color

.top-bar-section
  li.active:not(.has-form)
    a:not(.button):hover
      background: $add-button-color-hover

