/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
  */

$add-button-color: #fd887a
$add-button-color-hover: #ed786a
$main-background: #E9E9E9
//#E9E9E9
//#F3F3F3

$blog-grey-border: #F3F3F3

//$block-grid-default-spacing: rem-calc(1000)

.top-bar-section
  li.active:not(.has-form)
    a:not(.button)
      font-size: 16px
      padding: 0 15px
      line-height: 45px
      color: white
      background: $add-button-color

.top-bar-section
  li.active:not(.has-form)
    a:not(.button):hover
      background: $add-button-color-hover

.video-list
  margin: auto
  position: relative
  visibility: hidden
.video-list.loaded
  visibility: visible
  
.video-item
  background-color: #fff
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18)
  border-radius: 3px
  margin-bottom: 20px

.video-link
  display: block
  position: relative
  -webkit-filter: grayscale(100%)
  -webkit-transition: all 0.5s ease
  -moz-transition: all 0.5s ease
  -o-transition: all 0.5s ease
  -ms-transition: all 0.5s ease
  transition: all 0.5s ease
.video-link:hover
  -webkit-filter: grayscale(0)
  transition: box-shadow 200ms ease-out
  box-shadow: 0 0 6px 1px rgba(0, 140, 186, 0.5)

.video-link__thumb
  border-top-left-radius: 3px
  border-top-right-radius: 3px
  display: block

.info-box
  border-top: 1px solid $blog-grey-border
  font-size: 11px
  .info-box__link
    display: block
    padding: 10px 12px
    font-weight: bold
    line-height: 15px
  .info-box__link:hover
    background: #f1f1f1
  .info-box__profile-thumb
    border-radius: 2px
    float: left
    height: 30px
    width: 30px
    margin-right: 5px
  .info-box__profile-name
    white-space: nowrap
    overflow: hidden
    -ms-text-overflow: ellipsis
    text-overflow: ellipsis
    color: #717171
    display: block
  .info-box__location
    overflow: hidden
    white-space: nowrap
    overflow: hidden
    -ms-text-overflow: ellipsis
    text-overflow: ellipsis
    color: #b7b7b7

i.loading
  width: 24px
  height: 24px
  background: image-url("loading.gif") no-repeat
  background-position: top
  display: block
  float: left
a.cancel-detect, a.remove-detect
  border-bottom: 1px dotted

